{
    "plugins":[
        "wdio"
    ],
    "extends": ["plugin:wdio/recommended", "eslint:recommended"],
    "parserOptions": {
        "ecmaVeersion": "latest",
        "sourceType": "module"
    },
    "env": {
        "es6": true,
        "mocha": true,
        "node": true
    }
    
}